
.icon-chrome:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-website:before { content: '\e803'; } /* '' */